<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Cuentas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Inicio - Administracion de StreamPlus{% endblock %}

    {% block content %}
    <div class="header">
        <h1>Cuentas</h1>
    </div>
    <div class="container">
        <form method="POST">
            <input type="text" name="search" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo de Cuenta</th>
                    <th>Correo</th>
                    <th>Contraseña</th>
                    <th>Fecha de Creación</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Perfiles</th>
                    <th>Inversión</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                <tr>
                    <td data-label="ID">{{ cuenta[0] }}</td>
                    <td data-label="Tipo de Cuenta">{{ cuenta[1] }}</td>
                    <td data-label="Correo">{{ cuenta[2] }}</td>
                    <td data-label="Contraseña">{{ cuenta[3] }}</td>
                    <td data-label="Fecha de Creación">{{ cuenta[4] }}</td>
                    <td data-label="Fecha de Vencimiento">{{ cuenta[5] }}</td>
                    <td data-label="Perfiles">{{ cuenta[6] }}</td>
                    <td data-label="Inversión">{{ cuenta[7] }}</td>
                    <td data-label="Acciones">
                        <a href="{{ url_for('editar_cuenta', cuenta_id=cuenta[0]) }}">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <a href="{{ url_for('admin') }}">Volver</a>
    </div>
    {% endblock %}
</body>
</html>
